
<h2 class="well"><%= "Policy# #{@policy.id} - DRIVER INFO" %></h2>

<ul class="nav nav-tabs" style="margin-bottom: 15px;">
	<li><%= link_to "Policy Info", @policy %></li>
	<li class="active"><%= link_to "Drivers ( #{@drivers.count} )", policy_drivers_path(@policy.id) %></li>
	<li><%= link_to "Vehicles", policy_vehicles_path(@policy.id) %> </li>
</ul>



<% @drivers.each do |driver| %>
<table class="table table-bordered">
	<thead>
		<th class="info"><%= driver.full_name %></th>
	</thead>
	<tbody>
	  		<tr><td><%= driver.birthdate %>
	</tbody>

</table>
<% end %>



<% @drivers.each do |driver| %>
<p>
<%= driver.full_name %>
<%= driver.birthdate %>
</p>
<% end %>

<%= link_to "Add new driver", new_policy_driver_path, class: 'btn btn-success' %>



