<h1>ACME INSURANCE COMPANY</h1>
<h2><%= "Policy# #{@policy.id} - DRIVER INFO" %></h2>

<hr>
<p><%= link_to "Drivers", policy_drivers_path(@policy.id) %> | <%= link_to "Vehicles", policy_vehicles_path(@policy.id) %> | <%= link_to "Home", root_path %></p>
<hr>

<% @drivers.each do |driver| %>
<p>
<%= driver.full_name %>
<%= driver.birthdate %>
</p>
<% end %>

<%= link_to "Add new driver", new_policy_driver_path %>

<%= paginate @drivers %>