
<h2 class="well"><%= "Policy# #{@policy.id} - DRIVER INFO" %></h2>

<ul class="nav nav-tabs" style="margin-bottom: 15px;">
	<li><%= link_to "Policy Info", @policy %></li>
	<li class="active"><%= link_to "Drivers ( #{@drivers.count} )", policy_drivers_path(@policy.id) %></li>
	<li><%= link_to "Vehicles ( #{@vehicles.count} )", policy_vehicles_path(@policy.id) %> </li>
</ul>


<p>
	<button type="button" class="btn btn-default expandbutton">Expand (+)</button>
	<%= link_to "Add New Driver", new_policy_driver_path(@policy), class: "btn btn-success" %>
</p>

<% @drivers.each do |driver| %>
<table class="table table-striped table-hover">
	<thead>
		<th class="info"><%= driver.full_name %></th>
	</thead>
	<tbody class = "slideme">
	  		<tr>
	  			<td><strong>D.O.B.: </strong><%= driver.birthdate %></td>
	  			<td><strong>Relationship: </strong><%= driver.relationship %></td>
	  		</tr>
	  		<tr><td><strong>Occupation: </strong><%= driver.job_title %></td>
	  		<td><strong>Employer: </strong><%= driver.job_employer %></td>
	  		</tr>
	  		<tr>
	  			<td><strong>Address: </strong><%= driver.job_addr %></td>
	  			<td><strong>City: </strong><%= driver.job_city %></td>
	  			<td><strong>State: </strong><%= driver.job_state %></td>
	  		</tr>
	  		<td><%= link_to 'Edit driver', edit_policy_driver_path(@policy, driver) %></td>

	</tbody>

</table>
<% end %>


<p>
	<button type="button" class="btn btn-default expandbutton">Expand (+)</button>
</p>

<div>
	<p class="bottom-buttons">
	<%= link_to 'Back', policy_path(@policy.id), class: "btn btn-default btn-lg" %>
	<%= link_to 'Next', policy_vehicles_path(@policy.id), class: "btn btn-default btn-lg" %>
	</p>
</div>

