<%= form_for [@policy, @vehicle] do |f| %>
  <% if @vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vehicle.errors.count, "error") %> prohibited this driver from being saved:</h2>

      <ul>
      <% @vehicle.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <% end %>

<p>
  <%= label_tag("Year") %><br>
  <%= f.text_field :year %>
</p>
<p>
  <%= label_tag("Make") %><br>
  <%= f.text_field :make %>
</p>
<p>
  <%= label_tag("Model") %><br>
  <%= f.text_field :model %>
</p>
<p>
  <%= label_tag("VIN") %><br>
  <%= f.text_field :vin %>
</p>
<p>
  <%= label_tag("Usage") %><br>
  <%= f.text_field :usage %>
</p>
<p>
  <%= label_tag("Miles") %><br>
  <%= f.text_field :usage_miles %>
</p>
<p>
  <%= label_tag("Annual Miles") %><br>
  <%= f.text_field :ann_miles %>
</p>


  <div class="actions">
    <%= f.submit "Submit", class:"btn btn-success" %>
  </div>
  <% end %>