
<h2 class="well"><%= "Policy# #{@policy.id} - VEHICLE INFO" %></h2>

<ul class="nav nav-tabs" style="margin-bottom: 15px;">
	<li><%= link_to "Policy Info", @policy %></li>
	<li><%= link_to "Drivers", policy_drivers_path(@policy.id) %></li>
	<li class="active"><%= link_to "Vehicles ( #{@vehicles.count} )", policy_vehicles_path(@policy.id) %> </li>
</ul>

<% @vehicles.each do |vehicle| %>
<p>
<%= vehicle.year %>
<%= vehicle.make %>
<%= vehicle.model %>
</p>
<% end %>

<p><%= link_to "Add new vehicle", new_policy_vehicle_path %></p>

