<h1>ACME INSURANCE COMPANY</h1>
<h2><%= "Policy# #{@policy.id} - VEHICLE INFO" %></h2>
<hr>
<p><%= link_to "Drivers", policy_drivers_path(@policy.id) %> | <%= link_to "Vehicles", policy_vehicles_path(@policy.id) %> | <%= link_to "Home", root_path %></p>
<hr>

<% @vehicles.each do |vehicle| %>
<p>
<%= vehicle.year %>
<%= vehicle.make %>
<%= vehicle.model %>
</p>
<% end %>

<p><%= link_to "Add new vehicle", new_policy_vehicle_path %></p>

<%= paginate @vehicles %>