<p id="notice"><%= notice %></p>

<h2><div class="well"><%= "Policy# #{@policy.id} - POLICY INFO" %></div></h2>

<ul class="nav nav-tabs" style="margin-bottom: 15px;">
	<li class="active"><%= link_to "Policy Info", root_path %></li>
	<li><%= link_to "Drivers ( #{@drivers.count} )", policy_drivers_path(@policy.id) %></li>
	<li><%= link_to "Vehicles ( #{@vehicles.count} )", policy_vehicles_path(@policy.id) %> </li>
</ul>

<table class="table table-bordered">
	<thead>
		<th class="info">Address Details</th>
	</thead>
	<tbody>

		<tr>
			<td><strong>Address 1: </strong><%=  @policy.mail_addr_1 %></td>
			<td><strong>Address 2: </strong><%=  @policy.mail_addr_2 %></td>
		</tr>
		<tr>
			<td><strong>City: </strong><%=  @policy.mail_addr_city %></td>
			<td><strong>State: </strong><%=  @policy.mail_addr_state %></td>
			<td><strong>Zip: </strong><%=  @policy.mail_addr_zip %></td>

		</tr>

		<tr><td><%= link_to 'Edit', edit_policy_path(@policy.id) %></td></tr>
	</tbody>
</table>

<table class="table table-bordered">
	<thead>
		<th class="info">Listed Drivers</th>
	</thead>
	<tbody>
			<% @drivers.each do |driver| %>
	  		<tr><td><%= driver.full_name %> |
	  			<%= link_to "Edit Driver", edit_policy_driver_path(@policy.id, driver.id) %></td></tr>
			<% end %>
	</tbody>

</table>


<table class="table table-bordered">
	<thead>
		<th class="info">Listed Vehicles</th>
	</thead>
	<tbody>

			<% @vehicles.each do |vehicle| %>
	  		<tr><td><%= vehicle.year %> <%= vehicle.make %> <%= vehicle.model %> |
	  			<%= link_to "Edit Vehicle", edit_policy_vehicle_path(@policy.id, vehicle.id) %></td></tr>
			<% end %>
	</tbody>

</table>

<div class="well"><p><a href= "#">Notes</a></p>
	<%= @messages.text %> <%= @messages.user.email %> <%= @messages.created_at %>
</div>


<div>
	<p class="bottom-buttons">
	<%= link_to 'Back', root_path, class: "btn btn-default btn-lg" %>
	<%= link_to 'Next', policy_drivers_path(@policy.id), class: "btn btn-default btn-lg" %>
	</p>
</div>

